.outer-div{
    background-color: #fef6e9;
    padding: 10px 200px;
    margin: 0px 300px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
  
  h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
  }
  


h2{
    text-align: center;
    padding-bottom: 50px;
}

h5{
    font-size: 17px;
    margin: 1px;
    padding: 5px 0px;
    text-align: left;
}

textarea{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ead8c2;
}

.btn{
    width: 60%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 30px 80px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.btn:hover{
    background-color: gray;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 0px;
    background-color: #EAD8C2;
}

tr{
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: left;
}

td{
    padding: 25px 20px;
}

p{
    font-size: 15px;
    margin: 0px;
    padding-left: 68%;
    padding-top: 12px;
}


